<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Podemos usar multiples elementos <intercept-url> para definir los diferentes 
		requerimientos de accesos para el conjunto de URLs, pero serán evaluadas 
		en el orden de la lista y a la primera coincidencia será usada. -->
	<http auto-config="true">
		<access-denied-handler error-page="/mi_pagina_error_403" />
		<form-login login-page="/mi_pagina_login"
			default-target-url="/?success=1" authentication-failure-url="/mi_pagina_login?error" />
		<logout logout-success-url="/mi_pagina_login?logout" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref='hibernateUserDetailsService'>
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>